* { margin: 0; padding: 0; }
		
html { 
  background: url(../images/ck_dektopbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
   
    font-family: "Roboto", Arial, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #1A97A9;
     /*background: url(../images/ck_dektopbg.jpg);
    height: 100%;
    margin: 0px; */
    background: url(../images/ck_dektopbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo{
  border: #1A97A9 solid 0px;
  padding-top: 0px;
  /* width: 100%; */
}
#countdown-wrap1{
  font-family: "Roboto", Arial, serif;
  font-size: 22pt;
  padding-top: 0px;
  color: #ffffff;
}
#countdown-wrap2{
  font-family: "Roboto", Arial, serif;
  font-size: 12pt;
  padding-top: 0px;
  
  color: #ffffff;
}
#countdown-wrap3{
  font-family: "Roboto", Arial, serif;
  font-size: 12pt;
  padding-top: 0px;
  color: #ffffff;
}
a {
  color: #00fcff;
}
.countdown-wrap, .bg-cover {
  opacity: 0.73;
  width: 25%;
  float: center;
  padding: 0px;
  background: #3f4243;
  height: 100%;
  position: absolute;
   z-index: 2; width: 400px; height: 100%; margin: 0px auto; padding: 20px;
   min-height: 100%;

}
.container{
  height: 100%;
}

a:hover {
    border-color: #f1f1f1;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media screen and (max-width: 480px) {
  .countdown-wrap, .bg-cover {
    opacity: 0.73;
    /* width: 50%; */
    padding: 0px;
    background: #3f4243;
    height: 100%;
    position: relative; 
    z-index: 2; width: 300px; height: 100%; margin: 0px auto; padding: 20px;
  
  }
  #countdown-wrap1{
    font-family: "Roboto", Arial, serif;
    font-size: 15pt;
    padding-top: 0px;
    color: #ffffff;
  }
  #countdown-wrap2{
    font-family: "Roboto", Arial, serif;
    font-size: 8pt;
    padding-top: 0px;
    
    color: #ffffff;
  }
  #countdown-wrap3{
    font-family: "Roboto", Arial, serif;
    font-size: 8pt;
    padding-top: 0px;
    color: #ffffff;
  }
  a {
    color: #00fcff;
    font-size: 7pt;
  }
}

